@import "tailwindcss";

:root {
   --color-text: #ffffff;
   --color-error: #980000;
   --color-paper: #232323;
   --color-primary: #009888;
   --color-background: #000000;
   --color-primary-contrast: #ffffff;
}

* {
    @apply outline-[var(--color-primary)] -outline-offset-2 ;
}

html,
body {
    overflow: overlay;
    @apply bg-[var(--color-background)] text-[var(--color-text)] w-screen h-screen underline-offset-6;
}


